<mat-nav-list>
    <div class="profile-card">
        <div class="hader">
            <h2>Nome Completo</h2>
            <h4>email@email.com</h4>
        </div>
        <img src="./../../../../assets/img/profile.svg" alt="Imagem de perfil do usuário">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Ferramentas</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
        <mat-icon>space_dashboard</mat-icon>
        Dashboard
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/sponsors">
        <mat-icon>group</mat-icon>
        Usuários
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
        <mat-icon>group</mat-icon>
        Outros
    </a>

    <mat-divider></mat-divider>

</mat-nav-list>